/* .article {
    width: 685px;
    height: auto;
    }*/
.article1 {
    background-color: rgba(88, 160, 119, .5);
     }       
.article2 {
       background-color:rgba(196, 54, 106, .5);
        }
.article3 {
         background-color:rgba(196, 180, 255, .5);
          } 